<div class="categories-container">
  <nav class="navbar">
    <h1 routerLink="/products" style="cursor:pointer">{{ tr.t('quickcart') }}</h1>
    <div class="nav-actions">
      <a routerLink="/products">{{ tr.t('all_products') }}</a>
      <a routerLink="/products" [queryParams]="{discount: 'true'}">{{ tr.t('discounts') }}</a>
      @if (isLoggedIn()) {
        <a routerLink="/cart">{{ tr.t('cart') }}</a>
      } @else {
        <a routerLink="/login">{{ tr.t('login') }}</a>
      }
      <button class="lang-btn" (click)="tr.toggle()">{{ tr.currentLang() === 'ru' ? 'EN' : 'RU' }}</button>
    </div>
  </nav>
  
    <div class="categories-content">
    <h2>{{ tr.t('Catalog') }}</h2>

    <div class="sections-grid">
      @for (section of sections; track section.title) {
        <div class="section-tile">
          <h3 class="tile-header">{{ section.title }}</h3>
          
          <ul class="category-links">
            @for (cat of section.categories; track cat.id) {
              <li>
                <a [routerLink]="['/products']" [queryParams]="{ category: cat.id }">
                  {{ cat.name }}
                </a>
              </li>
            }
          </ul>
        </div>
      }
    </div>

    @if (isAdmin()) {
        <div style="margin-bottom: 20px;">
            <button (click)="showCategoryForm = !showCategoryForm">
            {{ showCategoryForm ? tr.t('cancel') : '+ Добавить категорию' }}
        </button>
        @if (showCategoryForm) {
        <div class="product-form" style="margin-top: 16px;">
        <input [(ngModel)]="newCategory.name" placeholder="Название категории" />
        <input [(ngModel)]="newCategory.description" placeholder="Описание" />
        <input type="file" (change)="onCategoryImageSelected($event)" accept="image/*" />
        <button (click)="createCategory()">{{ tr.t('save') }}</button>
        </div>
        }
        </div>
        }
  </div>
</div>